.logOutButton {
  float: right;
  margin-right: 20px;
}
.myOrders {
  width: 300px;
  height: 150px;
  padding: 10px;
  font-size: 20px;
}
.myOrdersContent {
  margin-top: 5px;
}
.welcome {
  font-size: 20px;
  font-family: sans-serif;
}

.layout {
  width: 100%;

  display: grid;
  grid:
    "left right" auto
    / 1fr 2fr;
  gap: 13px;
  grid-auto-flow: row dense;
}

.left {
  grid-area: left;
}
.right {
  grid-area: right;
  padding-left: 30px;
}
.ProfilePictureArea {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
.ProfilePicture {
  margin-top: 20px;
  width: 160px;
  height: 150px;
  border-radius: 65%;
}
.profileMenu {
  width: 300px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-right: 10px;
  justify-content: space-between;
}
