.logOutButton {
  float: right;
  margin-right: 20px;
}
.myOrders {
  width: 300px;
  height: 150px;
  font-size: 20px;
  float: inline-start;
}
.myOrdersContent {
  width: 505px;
}
.welcome {
  font-size: 20px;
  font-family: sans-serif;
}

.layout {
  width: 100%;
  display: grid;
  grid:
    "left right" auto
    / 1fr 2fr;
  gap: 13px;
  grid-auto-flow: row dense;
}

.left {
  grid-area: left;
}
.right {
  margin-top: 30px;
  grid-area: right;
}
.ProfilePictureArea {
  width: 400px;
  height: 200px;
  margin: 0 auto;
}
.ProfilePicture {
  border-bottom: 7px solid black;
}
.profileMenu {
  width: 300px;
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-right: 10px;
  justify-content: space-between;
  font-size: 25px;
}
.stick {
  width: 300px;
}
.About {
  font-size: 25px;
}
.AboutArea {
  display: flex;
}
.AboutAreaRole {
  padding-left: 70px;
}
