.nav {
  padding: 13px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px;
  line-height: 2px;
  align-items: center;
}
.logo {
  padding: 5px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 26px;
}
.logo:hover {
  color: black;
}
.nav .left {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  margin-left: 40px;
  font-size: 26px;
}
.nav .left .menu li a {
  color: rgb(122, 122, 128);
  text-decoration: none;
  font-size: 1.1rem;
  padding: 3px 16px;
  display: block;
  font-size: 16px;
}
.nav .left .menu li a:hover {
  color: black;
}
.nav .right a:first-child {
  margin-right: 3px;
}
.nav .right {
  display: flex;
  align-items: center;
  margin: 15px;
  padding: 5px;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: red;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdownContent a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdownContent a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdownContent {
  display: block;
}
